<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">-->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<script type="text/javascript" src="https://kit.fontawesome.com/e6dbb3ee08.js" crossorigin="anonymous"></script>
<!--	<script type="text/javascript" src="//code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>-->
<!--	<script type="text/javascript" src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.4.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'socket.io.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'hello.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'application.js') }}"></script>
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>AWS Pipelines Interface</h1>
				<a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i>Dashboard</a>
                <a href="{{ url_for('home') }}"><i class="fa fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fa fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fa fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}

			{% endblock %}
		</div>
	</body>
</html>